<section class="products section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="widget">
          <h4 class="widget-title">Sort By</h4>
        </div>

        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5>
                <a aria-controls="collapseOne" aria-expanded="true" data-target="#collapseOne" data-toggle="collapse" href="">
                  Shirts
                </a>
              </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="">T-Shirts</a>
                  </li>
                  <li>
                    <a href="">Polos</a>
                  </li>
                  <li>
                    <a href="">Longsleeve</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5>
                <a aria-controls="collapseTwo" aria-expanded="true" class="collapsed" data-target="#collapseTwo" data-toggle="collapse" href="">
                  Jeans
                </a>
              </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion" id="collapseTwo">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="">Slim</a>
                  </li>
                  <li>
                    <a href="">Boot</a>
                  </li>
                  <li>
                    <a href="">Straight</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5>
                <a aria-controls="collapseThree" aria-expanded="true" class="collapsed" data-target="#collapseThree" data-toggle="collapse" href="">
                  Pants
                </a>
              </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion" id="collapseThree">
              <div class="card-body">
                <ul class="list-unstyled">
                  <li>
                    <a href="">Dress</a>
                  </li>
                  <li>
                    <a href="">Pleated</a>
                  </li>
                  <li>
                    <a href="">Cargo</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          {% for product in collection.products %}
            <div class="col-md-4">
              <div class="product-item">
                <div class="product-thumb">
                  <img alt="product-img" class="img-responsive" src="images/product-8.jpg">
                  <div class="preview-meta">
                    <ul>
                      <li><a href="#"><i class="fa fa-search"></i></a></li>
                      <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                      <li><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="product-content">
                  <h4>
                    <a href="product-single.html">Rainbow Shoes</a>
                  </h4>
                  <p class="price">$200</p>
                </div>
              </div>
            </div>
          {% endfor %}


        </div>
      </div>
    </div>
  </div>
</section>